*{margin: 0%;
padding: 0px;}





.logomarca{
    background-color: darkred;
    text-align: center;}




.texto{background-color: rgb(255, 0, 0);
text-align: center;}
 

    p{font-size: 200%;
        color: aliceblue;}